body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
  /* margin: 0; */
  
}

header {
  text-align: center;
  /* margin: 0; */
  /* padding: 5px; */
  border: none;
  display: block;
}



aside {
  display: inline-flex;
  /* width: 20%; */
  /* margin: 0; */
  position: sticky;
  top: 0;
}

article {
  width: 80%;
  border:none;
  /* margin: 0; */
  
}

section {
  display: inline-flex;
  border: none;
  /* margin: 0; */
  position: relative;
  
}


.social-media-heading{
  /* margin-top: 0; */
}

/* .header-section {
  
  color: #cad2c5;
  background-image: url("../images/livigno-wide.png");
  background-size: 100%;
  border: solid red;
  background-color: #2f3e46;
   
} */


.contact-me-list{
  /* margin-bottom: 0; */
}
 
.menu-tab {
  background-color: #354f52; 
}

.main-content {
  background-color: #52796f; 
  /* width: 100%; */
  
  
}

footer {
  /* margin: 0; */
  background-color: #343330;
  /* padding: 5px; */
  text-align: center;
  width: 100%;
  border:none;
  
}


.footer-container {
  border: none;
}

a{
  color: #a9d6e5;
}

.header-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}

/* .header-text > h2 {
  margin-bottom: 0;
} */

.section-heading {
  color: #013a63;
}

.sub-heading {
  color: #014f86;
}

.section-text {
  color: #cad2c5;
  position: relative;
  left: 10px;
}



.section-container {
  /* padding: 5px; */
  /* margin: 5px; */
  border-bottom: 1px solid white;
  
  
}

.profile-picture {
  border-radius: 100%;
}

aside > .section-container {
  border-bottom: none;

  
}

.logos {
  display: flex;
  justify-content: center;
  max-width: 200%;
}

.menu-container {
  height: 15%;
 
  position: sticky;
  top: 0;
}

.menu-container > .section-container {
  border-bottom: none;
}

.Social-media-logo-container {
  display: flex;
  justify-content: center;

}
.Social-media-logo:hover{
  animation-name: magnify;
  animation-duration: 1s;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
  transition-delay: 5s;
    
}
.logo-size {
  max-width: 200px;
}

.menu-list{
  /* padding-left: 10px; */
}

@keyframes magnify{
  0%{transform: translateY(0);}
  0%{filter: grayscale(100%);}
  50%{filter: grayscale(100%);}
  100%{transform:scale(1.5)translateY(-80px);}
  100%{filter: grayscale(0%);}
}

@media (max-width: 768px) {
  .header-section {
  
    color: #cad2c5;
    background-image: url("../images/small-background.JPG");
    background-size:cover;
    background-color: #2f3e46;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100%;
  }
  .profile-picture{
    content: url("../images/IMG_1971.JPG");
  }
  .logo-size {
    max-width: 80px;
  }
  .menu-tab{
    /* width: 30%; */
  }

  .section-text{
    font-size: 80%;
  }
  li{
    font-size: 80%;
  }

}

@media (max-width: 1400px) and (min-width: 769px) {
  .header-section {
  
    color: #cad2c5;
    background-image: url("../images/medium-background.JPG");
    background-size: 100%;
    background-color: #2f3e46;
    background-repeat: no-repeat;
    background-position: center;
     
  }
  .profile-picture {
    content: url("../images/profile-pic-medium.png");
  }
  .logo-size{
    max-width: 100px;
  }
  
}

@media (min-width: 1400px) {
  .header-section {
  
    color: #cad2c5;
    background-image: url("../images/livigno-wide.png");
    background-size: 100%;
    background-color: #2f3e46;
    background-repeat: no-repeat;
    background-position: center;
     
  }
  .profile-picture {
    content: url("../images/profile-pic-large.png");
  }
  
}

@media (max-width:400px){
  .menu-list{
    font-size: 80%;
  }
  .section-text{
    font-size: 80%;
  }
  li{
    font-size: 80%;
  }
}

.container{
  justify-content: center;
}

.header-text{
  text-align: center;
}

.column{
  float: left;
  width: 50%;
}
.modal-list::after{
  content: "";
  display: table;
  clear: both;
}


.modal-content{
  background-color: #7b8cde;
}